@model register

@{
    ViewData["Title"] = "SignUpPage";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary py-2">Register as a User</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" asp-action="Registration">
            <div class="border p-3">
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" class="form-control border-0 shadow" type="text"/>@*type="text"*@
                    <label asp-for="Name" class="ms-2"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Email" class="form-control border-0 shadow" type="text"/>@*type="text"*@
                    <label asp-for="Email" class="ms-2"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Phone" class="form-control border-0 shadow" type="number"/>@*type="text"*@
                    <label asp-for="Phone" class="ms-2"></label>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Address" class="form-control border-0 shadow" type="text" />@*type="text"*@
                    <label asp-for="Address" class="ms-2"></label>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Password" class="form-control border-0 shadow" type="password" />@*type="password"*@
                    <label asp-for="Password" class="ms-2"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Register</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="Login" class="btn btn-outline-primary border  form-control">
                            Already User?.. then login
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>